config/config.json
config/translate.json
__pycache__/bing_today.cpython-39.pyc
__pycache__/translate.cpython-39.pyc
__pycache__/weather.cpython-39.pyc
__pycache__/hex_random_color.cpython-39.pyc
__pycache__/Domain_Name_System_Detect.cpython-39.pyc
__pycache__/IP_Detect.cpython-39.pyc
config/debug.txt
tempCodeRunnerFile.py
